.details-grid {
    /* display: grid;
    gap: 3rem;
    align-content: center;
    justify-content: center;
    grid-template-columns: 1fr; */

    display: flex;
    flex-direction: column;
}

.details-card {
    width: 100%;
    margin: 12px 0;
    padding: 16px 0;
}

.basic-info-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media only screen and (min-width: 990px){
    .details-grid {
        /* grid-template-columns: 1fr 1fr; */
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .details-card {
        width: 47%;
    }
}