.details-grid {
    display: grid;
    gap: 4rem;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.details-card {
    min-height: 400px;
}

.img-wrapper {
    height: 150px;
    background-size: cover;
    background-position: center;
}

.basic-info-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}